*{
    margin: 0;
    box-sizing: border-box;
    

    
}

header{
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
    max-height: 20vh;
    width: auto;
    align-items: center;
    padding: .5em;
    margin: .5em;
    background: rgb(75,69,167);
background: linear-gradient(328deg, rgba(75,69,167,1) 0%, rgba(255,255,255,1) 56%, rgba(31,121,139,1) 100%);;
}
span{
    display: flex;
    justify-content: center;
}

img{
    display: flex;
    min-height: 120px;
    max-height: 150px;
    justify-content: left;
}
aside{
    background: rgb(75,69,167);
background: linear-gradient(328deg, rgba(75,69,167,1) 0%, rgba(255,255,255,1) 56%, rgba(31,121,139,1) 100%);
    min-height: 20vh;
    display: flex;
    flex-grow: 1;
    padding: .5em;
     
}


section{
    display: flex;
    flex-grow: 3;
    min-height: 60vh;
    

}
footer{
    display: flex;
    flex-direction: row;
    justify-content:right;
    background: rgb(75,69,167);
background: linear-gradient(328deg, rgba(75,69,167,1) 0%, rgba(255,255,255,1) 56%, rgba(31,121,139,1) 100%);
    padding: .5em;
    margin: .5em;
    min-height: 5vh;
    max-height: 5vh;
    
    
    
}
html {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

article{
    
    background: rgb(75,69,167);
background: linear-gradient(328deg, rgba(75,69,167,1) 0%, rgba(255,255,255,1) 56%, rgba(31,121,139,1) 100%);
    padding: .5em;
    margin: .5em;
    display: flex;
    min-height: 67vh;
    
  }
main{
    min-height: 70vh;
    display: flex;
    justify-content: space-between;
    flex-grow: 3;
}
nav ul{
    
    background-color: white;
    display: flex;
    flex-grow: 3;
    list-style: none;
    justify-content: space-around;
    min-height: 3vh;
      
}
nav ul li a{
    text-decoration-line:none;
    color:rgb(110, 34, 180);
}
button{
    background: rgb(75,69,167);
background: linear-gradient(328deg, rgba(75,69,167,1) 0%, rgba(255,255,255,1) 56%, rgba(31,121,139,1) 100%);
    font-size: 1em;
    height: 30px;
}
.tooltip{
    position: relative;
    display: inline-block;
    
    
}
.tooltiptext{
    background-color:rgb(211, 234, 253);
    text-align: center;
    width: 120px;
    padding: .2em;
    border-radius: 8px;
    visibility: hidden;
    
}
.tooltip:hover .tooltiptext{
    visibility: visible;
    
}