header{
    display: flex;
    min-height: 10vh;
    max-height: 20vh;
    border: 1px solid burlywood;
    padding: .5em;
    margin: .5em;
}

img{
    display: flex;
    min-height: 120px;
    max-height: 150px;
    flex-direction: row;
    justify-content: left;
}
aside{
    min-height: 10vh;
    min-width: auto; 
    display: flex;
    border: 1px solid brown;
    padding: .5em;
    margin: .5em;    
    
}
footer{
    display: flex;
    flex-direction: row;
    justify-content:right;
    border: .5px solid saddlebrown;
    padding: .5em;
    margin: .5em;
    
    
}
html {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

article{
    border: 1px solid yellow;
    padding: .5em;
    margin: .5em;
    display: flex;
    min-height: 10vh;
  }
section{
    display: flex;
    justify-content: space-between;
}


