*{
    margin: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
    
}
h1
{
    background-color: burlywood;
}
header{
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
    max-height: 20vh;
    width: auto;
    
    padding: .5em;
    margin: .5em;
    background-color: burlywood;
}

img{
    display: flex;
    min-height: 120px;
    max-height: 150px;
    
    justify-content: left;
}
aside{
    min-height: 20vh;
    min-width: 10vw; 
    max-width: 15vw;
    display: flex;
    
    padding: .5em;
    margin: .5em;
    

    
}
footer{
    display: flex;
    flex-direction: row;
    justify-content:right;
    background-color: rgba(114, 56, 14, 0.322);
    padding: .5em;
    margin: .5em;
    min-height: 5vh;
    
    
}
html {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

article{
    background-color: #6b1c0970;
    
    padding: .5em;
    margin: .5em;
    display: flex;
    min-height: 67vh;
    max-width: 85vw;
  }
main{
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
}
nav ul{
    
    width: 100vw;
    display: flex;
    list-style: none;
    justify-content: space-around;
    min-height: 3vh;
    
    
}
.tooltip-btn {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tooltip-btn:hover {
    background-color: #45a049;
}


.tooltip {
    position: absolute;
    bottom: 120%; 
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(135deg, #ff7e5f, #feb47b); 
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.tooltip-btn:hover + .tooltip {
    visibility: visible;
    opacity: 1;
}
