*{
    margin: 0;
    box-sizing: border-box;

    
}
h1
{
    background-color: burlywood;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    max-height: 15vh;
    width: auto;
    border: 1px solid burlywood;
    background-color: burlywood;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content:right;
    padding: .5em;
    
    min-height: 5vh;
    max-height: 5vh;
    background-color: rgba(114, 56, 14, 0.322);
    
    
}
html {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

nav ul{
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    list-style: none;
    min-height: 2vw;
}
nav ul li a{
    text-decoration-line:none;
    color:rgb(168, 80, 21);
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 80vh;
    max-height: 80vh;
    align-items: center;
    padding: 1em;
    background-color: bisque;
 
}
.polaroid{
    border: 20px solid gainsboro;
    border-bottom: 80px solid gainsboro;
    max-width: 30vw;
    min-width: auto;
    box-shadow: 10px 10px 13px -3px rgba(64,38,66,0.82);
}
.foto figcaption{
    
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    text-align: center; 
    margin-top: 20px; 
    
    font-style: italic;
}
.foto a{
    text-decoration: none;
}